<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2>Please fix the below errors before continuing:</h2>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<table>
	<tbody>
		<tr>
			<td>
				<div class="field">
					First Name:
				</div>
			</td>
			<td>
				<%= f.text_field :first_name %>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					Last Name:
				</div>
			</td>
			<td>
				<%= f.text_field :last_name %>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					Email:
				</div>
			</td>
			<td>
				<%= f.email_field :email %>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					Username:
				</div>
			</td>
			<td>
				<%= f.text_field :username %>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					Role:
				</div>
			</td>
			<td>
				<%= f.select :role, ['User', 'Admin'] %>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					Password:
				</div>
			</td>
			<td>
				<%= f.password_field :password %>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					Confirm Password:
				</div>
			</td>
			<td>
				<%= f.password_field :password_confirmation %>
			</td>
		</tr>
		<tr>
			<td colspan="2" id="centered_row">
				<div class="actions">
					<%= f.submit 'Submit' %>
				</div>
			</td>
		</tr>
	</tbody>
	</table>
<% end %>