<h2>Recent Activity</h2>
<ul>
  <% @recent_wines.each do |wine| %>
  <li>
    <% if wine.catalog == true %>
      <%= wine.name %> (<%= wine.grapes %> from <%= wine.country == "USA" ? wine.region : wine.country %>) cataloged <%= time_ago_in_words(wine.catalog_date) %>
    <% else %>
      <%= wine.name %> added <%= time_ago_in_words(wine.created_at) %>
    <% end %>
  </li>
  <% end %>
</ul>