<h2>Recent Activity</h2>
<ul>
  <% @recent_wines.each do |wine| %>
  <li>
    <% if wine.catalog == true %>
      <%= link_to wine.name, wine_path(wine.id) %> (<%= wine.grapes %> from <%= wine.country == "USA" ? wine.province : wine.country %>) <% if wine.catalog_date? %> cataloged <%= time_ago_in_words(wine.catalog_date) %> ago <% end %>
    <% else %>
      <%= link_to wine.name, wine_path(wine.id) %> (<%= wine.grapes %> from <%= wine.country == "USA" ? wine.province : wine.country %>) added <%= time_ago_in_words(wine.created_at) %> ago
    <% end %>
  </li>
  <% end %>
</ul>