<section>
	<p id="notice"><%= notice %></p>

	<h1><%= @user.first_name %></h1>
	<br>

	<div class="wine_details">
		<p>
		  <strong>Email Address:</strong>
		  <%= @user.email %>
		</p>
		
		<p>
		  <strong>Username:</strong>
		  <%= @user.username %>
		</p>

		<p>
		  <strong>Password:</strong>
		  <%= @user.password %>
		</p>
	</div>

</section>