<%= form_for(@wine) do |f| %>
  <% if @wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% @wine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="wine_info_form">
<div id="wine_form_cellar_info">
	<table>
	<tbody>
		<tr>
			<td>
				<div class="field">
					<%= f.label :name %>:
				</div>
			</td>
			<td>
				<%= f.text_field :name %>
			</td>
		</tr>
		
    <tr>
			<td>
				<div class="field">
					<%= f.label :grapes %>:
				</div>
			</td>
			<td>
				<%= f.text_field :grapes %>
			</td>
		</tr>
		
    <tr>
			<td>
				<div class="field">
					<%= f.label :country %>:
				</div>
			</td>
			<td>
        <%= f.select(:country, Region.uniq.order('country asc').pluck(:country) {|r| [r.country] } + ['Other'], {include_blank: ''}, {:id => 'country_select'})%>
        <% #f.collection_select :country, Region.order(:country), :country, :country, {include_blank: ''}, {:id => 'country_select'} %>
			</td>
		</tr>
		
    <tr class="hidden_form_field" id="country_other_text" <%= @wine.country == 'Other' ? "style=display:table-row" : nil %> >
			<td>
				<div class="field">
					<%= f.label :country_other, 'Country - Other' %>:
				</div>
			</td>
			<td>
        <%= f.text_field :country_other %>
			</td>
		</tr>
		
		<tr>
			<td>
				<div class="field">
					<%= f.label :general_region, 'General Region' %>:
				</div>
			</td>
			<td>
        <%= f.select(:general_region, Region.uniq.where(general_region: 'nothing').order('general_region asc').pluck(:general_region) {|r| [r.general_region] }, {include_blank: ''}, {:id => 'general_region_select'})%>
        <% #f.grouped_collection_select :general_region, Region.where.not(general_region: '').order(:general_region), :general_region, :country, :general_region, :general_region %>
        <% #f.select(:general_region, ['None'], {:id => 'general_region_select'}) %>
			</td>
		</tr>
    
    <tr class="hidden_form_field" id="general_region_other_text" <%= @wine.general_region == 'Other' ? "style=display:table-row" : nil %> >
			<td>
				<div class="field">
					<%= f.label :general_region_other, 'General Region - Other' %>:
				</div>
			</td>
			<td>
        <%= f.text_field :general_region_other %>
			</td>
		</tr>
		
    <tr>
			<td>
				<div class="field">
					<%= f.label :specific_region, 'Specific Region' %>:
				</div>
			</td>
			<td>
        <%= f.select(:specific_region, Region.uniq.where.not(specific_region: '').order('specific_region asc').pluck(:specific_region) {|r| [r.specific_region] } + ['Other'], {include_blank: 'None'}, {:id => 'specific_region_select'})%>
			</td>
		</tr>
		
    <tr class="hidden_form_field" id="specific_region_other_text" <%= @wine.specific_region == 'Other' ? "style=display:table-row" : nil %> >
			<td>
				<div class="field">
					<%= f.label :specific_region_other, 'Specific Region - Other' %>:
				</div>
			</td>
			<td>
        <%= f.text_field :specific_region_other %>
			</td>
		</tr>
		
    <tr>
			<td>
				<div class="field">
					<%= f.label :micro_region, 'Micro Region' %>:
				</div>
			</td>
			<td>
        <%= f.select(:micro_region, Region.uniq.where.not(micro_region: '').order('micro_region asc').pluck(:micro_region) {|r| [r.micro_region] } + ['Other'], {include_blank: 'None'}, {:id => 'micro_region_select'})%>
			</td>
		</tr>
		
    <tr class="hidden_form_field" id="micro_region_other_text" <%= @wine.micro_region == 'Other' ? "style=display:table-row" : nil %> >
			<td>
				<div class="field">
					<%= f.label :micro_region_other, 'Micro Region - Other' %>:
				</div>
			</td>
			<td>
        <%= f.text_field :micro_region_other %>
			</td>
		</tr>
		
    <tr>
			<td>
				<div class="field">
					<%= f.label :winery %>:
				</div>
			</td>
			<td>
				<%= f.text_field :winery %>
			</td>
		</tr>
		
    <tr>
			<td>
				<div class="field">
					<%= f.label :vintage %>:
				</div>
			</td>
			<td>
				<%= f.text_field :vintage %>
			</td>
		</tr>
		
    <tr>
			<td>
				<div class="field">
					<%= f.label :location %>:
				</div>
			</td>
			<td>
				<%= f.text_field :location %>
			</td>
		</tr>
		
    <tr>
			<td>
				<div class="field">
					<%= f.label :wine_type %>:
				</div>
			</td>
			<td>
				<%= f.select :wine_type, ['', 'Red', 'White', 'Sparkling', 'Port', 'Other'] %>
			</td>
		</tr>
		
    <tr>
			<td>
				<div class="field">
					<%= f.label :price %>:
				</div>
			</td>
			<td>
				<%= f.text_field :price %>
			</td>
		</tr>
		
    <tr>
			<td>
				<div class="field">
					<%= f.label :purchase_date %>:
				</div>
			</td>
			<td>
				<%= f.text_field :purchase_date, :class => 'date_picker' %>
			</td>
		</tr>
		
    <tr>
			<td>
				<div class="field">
					<%= f.label :abv, 'ABV' %>:
				</div>
			</td>
			<td>
				<%= f.text_field :abv %>
			</td>
		</tr>
		
    <tr>
			<td colspan="2" id="centered_row">
				<div class="field">
					<%= f.label :stored, 'In Cellar?' %> <%= f.check_box :stored, :id => 'in_cellar_link' %> &nbsp;&nbsp;&nbsp; <%= f.label :catalog, 'Catalog?' %> <%= f.check_box :catalog, :id => 'catalog_link' %>
				</div>
			</td>
		</tr> 
		
    <tr class="hidden_form_field" id="in_cellar_field">
			<td>
				<div class="field">
					<%= f.label :num_bottles %>:
				</div>
			</td>
			<td>
				<%= f.number_field :num_bottles %>
			</td>
		</tr>
	</tbody>
	</table>
</div>

<div id="wine_form_catalog_info" class="hidden_form_field">
	<table>
	<tbody>
		<tr>
			<td>
				<div class="field">
					<%= f.label :drink_date %>:
				</div>
			</td>
			<td>
				<%= f.text_field :drink_date, :class => 'date_picker' %>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					<%= f.label :with_meal %>:
				</div>
			</td>
			<td>
				<%= f.select :with_meal, [['', nil], ['Yes', true], ['No', false]] %>
			</td>
		</tr>
		<tr class="hidden_form_field" id="with_meal_field">
			<td>
				<div class="field">
					<%= f.label :meal %>:
				</div>
			</td>
			<td>
				<%= f.text_field :meal %>
			</td>
		</tr>
		<tr>
			<td>
				<div class="field">
					<%= f.label :rating %>:
				</div>
			</td>
			<td>
				<%= f.select :rating, [['', nil], ['1 Star', 1], ['2 Stars', 2], ['3 Stars', 3], ['4 Stars', 4], ['5 Stars', 5]] %>
			</td>
		</tr>
		</div>
		<tr>
			<td>
				<div class="field">
					<%= f.label :notes %>:
				</div>
			</td>
			<td>
				<%= f.text_area :notes, :cols => '30', :rows => '25' %>
			</td>
		</tr>
	</tbody>
	</table>
</div>
</div>

<div class="field">
	<%= f.submit %>
</div>

<% end %>