<%= form_for(@wine) do |f| %>
  <% if @wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% @wine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>: <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :grapes %>: <%= f.text_field :grapes %>
  </div>
  <div class="field">
    <%= f.label :region %>: <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :country %>: <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :stored %>: <%= f.check_box :stored %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
