<section>
	<div class="wine_cellar_buttons_top">
		<% if params[:status] == nil %>
			<div class="wine_cellar_button_active">
		<% else %>
			<div class="wine_cellar_button">
		<% end %>
			<%= link_to 'All Wines', wines_path %>
		</div>

		<div class="spacer"></div>
		
		<% if params[:status] == "cellared" %>
			<div class="wine_cellar_button_active">
		<% else %>
			<div class="wine_cellar_button">
		<% end %>
			<%= link_to 'My Cellar', wines_path(:status => "cellared") %>
		</div>
		
		<div class="spacer"></div>
		
		<% if params[:status] == "cataloged" %>
			<div class="wine_cellar_button_active">
		<% else %>
			<div class="wine_cellar_button">
		<% end %>
			<%= link_to 'My Catalog', wines_path(:status => "cataloged") %>
		</div>
	</div>
	
	<h1>
		<% if params[:status] == "cellared" %>
			My Wine Cellar
		<% elsif params[:status] == "cataloged" %>
			My Wine Catalog
		<% else %>
			My Wines
		<% end %>
	</h1>

	<div id="wine_list">

	<% if @wines.empty? %>
		<p><em>No wines to display.</em></p>
	<% else %>
		<% @wines.each do |w| %>
			<strong><%= link_to w.name, w %></strong> - <%= w.grapes %> from <%= w.region %>, <% if w.add_region != nil && w.add_region != '' %><%= w.add_region %>, <% end %><% if w.add_region != nil && w.add_region != '' %><%= w.add_region_2 %>, <% end %><%= w.country %> 
			<!--
				<div class="actions">
					<%= link_to 'Edit', edit_wine_path(w, :status => params[:status]) %> <% if w.stored == true %><%= link_to 'Drink!', drink_wine_path(w), data: { confirm: 'Are you sure?' } %><% end %>
				</div>
			-->
			<br>
		<% end %>
	<% end %>
	</div>

	<br>

	<div class="wine_cellar_buttons_bottom">
		<div class="button">
			<%= link_to 'Home', home_path %>
		</div>

		<div class="spacer"></div>
		
		<div class="button">
			<%= link_to 'Add Wine', new_wine_path %>
		</div>
	</div>
</section>