<section>
<h1>Wine Cellar</h1>

<div id="wine_list">

<% @wines.each do |w| %>
<% if w.stored == true %>
	<strong><%= link_to w.name, w %></strong> - <%= w.grapes %> from <%= w.region %>, <%= w.country %>
	<div class="actions">
		<%= link_to 'Edit', edit_wine_path(w) %> <%= link_to 'Drink!', drink_wine_path(w), data: { confirm: 'Are you sure?' } %>
	</div>
	<br>
<% end %>
<% end %>
</div>

<br>

	<div class="button">
		<%= link_to 'Home', root_path %>
	</div>

	<div class="spacer"></div>

	<div class="button">
		<%= link_to 'New Wine', new_wine_path %>
	</div>
</section>