<section>
<h1>Wine Catalog</h1>

<div id="wine_list">
<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Grapes</th>
      <th>Region</th>
      <th>Country</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td><%= wine.grapes %></td>
        <td><%= wine.region %></td>
        <td><%= wine.country %></td>
        <td><%= link_to 'Show', wine %></td>
        <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
        <td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->

<% @wines.each do |w| %>
<% if w.stored == false %>
	<strong><%= link_to w.name, w %></strong> - <%= w.grapes %> from <%= w.region %>, <%= w.country %>
	<div class="actions">
		<%= link_to 'Edit', edit_wine_path(w) %>
	</div>
	<br>
<% end %>
<% end %>
</div>

<br>

	<div class="button">
		<%= link_to 'Home', root_path %>
	</div>

	<div class="spacer"></div>

	<div class="button">
		<%= link_to 'New Wine', new_wine_path %>
	</div>
</section>