<h1>Listing wines</h1>

<div id="wine_list">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Grapes</th>
      <th>Region</th>
      <th>Country</th>
      <th>Stored</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td><%= wine.grapes %></td>
        <td><%= wine.region %></td>
        <td><%= wine.country %></td>
        <td><%= wine.stored %></td>
        <td><%= link_to 'Show', wine %></td>
        <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
        <td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>

<%= link_to 'Home', root_path %>
<%= link_to 'New Wine', new_wine_path %>
