<section>
	<p id="notice"><%= notice %></p>

	<div class="wine_details">
		<h1><%= @wine.name %></h1>

		<div id="cellared_details" class="show_wine_section">
			<p><em>Wine Details:</em></p>
			
			<p>
			  <strong>Region:</strong>
			  <%= @wine.region ? @wine.region + ', ' : nil %><%= @wine.province ? @wine.province : 'None' %>
			</p>

			<p>
			  <strong>Country:</strong>
			  <%= @wine.country %>
			</p>

			<p>
			  <strong>Grape(s):</strong>
			  <%= @wine.grapes %>
			</p>

			<p>
				<strong>Bottles in Cellar:</strong>
				<% if (@wine.stored == false) || (@wine.num_bottles == 0) %>
					None
				<% else %>
					<%= @wine.num_bottles %>
				<% end %>
			</p>
			
			<p>
				<strong>Winery:</strong>
				<% if @wine.winery? %>
          <%= @wine.winery %>
        <% else %>
          N/A
        <% end %>
			</p>
			
			<p>
				<strong>Vintage:</strong>
				<%= @wine.vintage ? @wine.vintage : 'N/A' %>
			</p>

			<p>
				<strong>Price:</strong>
				<%= @wine.price ? number_to_currency(@wine.price) : 'N/A' %>
			</p>

			<p>
				<strong>Location Purchased:</strong>
				<%= @wine.location ? @wine.location : 'N/A' %>
			</p>

			<p>
				<strong>Purchase Date:</strong>
				<%= @wine.purchase_date ? @wine.purchase_date : 'N/A' %>
			</p>
			
			<p>
				<strong>ABV:</strong>
        		<%= @wine.abv ? @wine.abv : 'N/A' %>
			</p>
				
		</div>
		
		<div id="cataloged_details" class="show_wine_section">
			<p><em>Catalog Details:</em></p>
			
			<% if @wine.catalog == true %>
				<p>
					<strong>Drink Date:</strong>
  				<% if @wine.drink_date? %>
					  <%= @wine.drink_date %>
  				<% else %>
  					N/A
  				<% end %>
				</p>

				<p>
					<strong>Meal:</strong>
						<% if @wine.with_meal == true %>
      				<% if @wine.meal? %>
  							<%= @wine.meal %>
      				<% else %>
      					None
      				<% end %>
						<% else %>
							None
						<% end %>
				</p>
				
				<p>
					<strong>Rating:</strong>
  				<% if @wine.rating? %>
					  <%= @wine.rating %>
  				<% else %>
  					N/A
  				<% end %>
				</p>

				<p>
					<strong>Notes:</strong>
  				<% if @wine.notes? %>
					  <%= @wine.notes %>
  				<% else %>
  					N/A
  				<% end %>
				</p>
			<% else %>
				<p>
					Wine has not been added to your catalog.  <strong><%= link_to 'Click here', catalog_wine_path(@wine), method: :put %></strong> to add it now.
				</p>
			<% end %>
		</div>
	</div>

	<div class="wine_cellar_buttons_top">
		<div class="button">
			<%= link_to 'Edit', edit_wine_path(@wine) %>
		</div>

		<div class="spacer"></div>

		<div class="button">
			<%= link_to 'Delete', wine_path(@wine), method: :delete, data: {confirm: 'Are you sure you want to delete this wine?'} %>
		</div>

		<div class="spacer"></div>
		
		<div class="button">
			<%= link_to 'Back', wines_path %>
		</div>
	</div>

</section>