<section>
	<p id="notice"><%= notice %></p>

	<div class="wine_details">
		<h1><%= @wine.name %></h1>

		<div id="cellared_details" class="show_wine_section">
			<p><em>Wine Details:</em></p>
			
			<p>
			  <strong>Region:</strong>
			  <%= @wine.region %><% if @wine.add_region != nil && @wine.add_region != '' %>, <%= @wine.add_region %><% end %><% if @wine.add_region_2 != nil && @wine.add_region_2 != '' %>, <%= @wine.add_region_2 %><% end %>
			</p>

			<p>
			  <strong>Country:</strong>
			  <%= @wine.country %>
			</p>

			<p>
			  <strong>Grape(s):</strong>
			  <%= @wine.grapes %>
			</p>

			<p>
				<strong>Bottles in Cellar:</strong>
				<% if (@wine.stored == false) || (@wine.num_bottles == 0) %>
					None
				<% else %>
					<%= @wine.num_bottles %>
				<% end %>
			</p>
			
			<p>
				<strong>Winery:</strong>
				<%= @wine.winery %>
			</p>
			
			<p>
				<strong>Vintage:</strong>
				<%= @wine.vintage %>
			</p>

			<p>
				<strong>Price:</strong>
				<% if @wine.price == ( 0 || '' ) %>
					N/A
				<% else %>
					<%= number_to_currency @wine.price %>
				<% end %>
			</p>

			<p>
				<strong>Location Purchased:</strong>
				<%= @wine.location %>
			</p>

			<p>
				<strong>Purchase Date:</strong>
				<%= @wine.purchase_date %>
			</p>
			
			<p>
				<strong>ABV:</strong>
				<%= @wine.abv %>%
			</p>
				
		</div>
		
		<div id="cataloged_details" class="show_wine_section">
			<p><em>Catalog Details:</em></p>
			
			<% if @wine.catalog == true %>
				<p>
					<strong>Drink Date:</strong>
					<%= @wine.drink_date %>
				</p>

				<p>
					<strong>Meal:</strong>
						<% if @wine.with_meal == true %>
							<%= @wine.meal %>
						<% else %>
							N/A
						<% end %>
				</p>
				
				<p>
					<strong>Rating:</strong>
					<%= @wine.rating %>
				</p>

				<p>
					<strong>Notes:</strong>
					<%= @wine.notes %>
				</p>
			<% else %>
				<p>
					Wine has not been added to your catalog.  <strong><%= link_to 'Click here', edit_wine_path(@wine) %></strong> to add it now.
				</p>
			<% end %>
		</div>
	</div>

	<div class="wine_cellar_buttons_top">
		<div class="button">
			<%= link_to 'Edit', edit_wine_path(@wine) %>
		</div>

		<div class="spacer"></div>

		<div class="button">
			<%= link_to 'Back', wines_path %>
		</div>
	</div>

</section>