<!DOCTYPE html>
<html>
<head>
  <title>WineApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<h1><%= link_to 'Wino Log', root_path %></h1>
	<h3 class="tagline">Keeping track of your wines, since you can't...</h3>
</header>
<main>


<%= yield %>

</main>
<footer>
<p>Copyright 2014</p>
</footer>
</body>
</html>
