<!DOCTYPE html>
<html>
<head>
  <title>WineApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<h1>Wino Log</h1>
	<h3>Keeping track of your wines, since you can't...</h3>
</header>
<main>

<!--<%= image_tag "banner.png" %>-->

<%= yield %>

</main>
<footer>
<p>Copyright 2014</p>
</footer>
</body>
</html>
